.footer-container 
    display: flex
    flex-direction: column
    justify-content: center
    background-color: $blue-light
    height: 60px
    max-width: 100%

@media only screen and (max-width: $tablet-width)
    .footer-container
        position: relative
        z-index: 50
        border: 1px solid white

.footer-container__logo 
    margin: auto
    height: 40px

.footer-container__langs
    position: absolute
    right: 0
    width: auto
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 0 30px 11px 0

@media only screen and (max-width: $tablet-width)
    .footer-container__langs
        display: none

.footer-container__langs-items
    padding: 7px
    border-radius: 4px
    margin: 0 20px
    color: white
    text-transform: uppercase
    &:first-child
        margin-left: 0
    &:last-child
        margin-right: 0

.footer-container__langs-items:visited
    color: white

.footer-container__langs-items:hover,
.footer-container__langs-items:focus
    background-color: white!important
    color: $deep-blue!important

#currentLang
    display: none

.lang-active
    background-color: white
    color: $deep-blue!important
    &:visited
        color: $deep-blue
